<!DOCTYPE html>

<html>
    <head>
    <style>
        .header{
            border: solid 1px black;
            height: 60px;
            width: 100%;
            font-size: 30px;
            text-align: center;
        }
        .flex-container{
            display: flex;
            min-height: 800px;
        }
        .actions{
            border: solid 1px black;
            height: 100%;
            width: 20%;
            font-size: 30px;
            text-align: center;
            flex-grow: 1
        }
        .content{
            border: solid 1px black;
            height: 100%;
            width: 20%;
            font-size: 30px;
            text-align: center;
            flex-grow: 8
        }
        .button{
            display: block;
            width: 80%;
            margin: 20px;
        }
        table,tr {
            border-collapse: collapse;
            border: solid 1px black;
            width: 90%;
            margin: auto
        ;
        }
    </style>
    </head>
    <body>

        <div class="header">
            <div class="title">TODO</div>
        </div>

        <div class="flex-container">
            <div class="actions">
                <button class="button">Add</button>
                <button class="button">List</button>
            </div>

            <div class="content">
<!--                <form action="/graphql" method="post">-->
                    <input type="text" name="query" value="query" hidden>
                    <input type="text" name="title" value="sssss">
                    <input type="text" name="desc" value="sssssss">
                    <button id="add_todo" type="submit">ok</button>
<!--                </form>-->
                <hr>
                <table id="list_todos">

                </table>
            </div>
        </div>

        <div class="footer"></div>
    </body>
<script>
    fetch('/graphql', {
         method: 'POST',
         headers: {
           'Content-Type': 'application/json',
           'Accept': 'application/json',
         },
         body: JSON.stringify({query: "{ listTodos {success errors post {id title desc completed} }}"})
        })
        .then(r => r.json())
        .then(data => f(data))
        // .then(data => console.log('data returned:', data));
function f(data){
        let success
        if (data.listTodos) {
            success = data.listTodos.success
        }else{
            success = data.getTodo.success
        }
    let list_todos = document.getElementById('list_todos')
    if (success){
        let todos = data.listTodos.post
        todos.forEach((element, index, array) => {
            list_todos.innerHTML += '<tr class="info" '+ 'data-id="'+ element.id +'" >' +
                                    '<td>'+ element.title +'</td>' +
                                    '<td>'+ element.desc +'</td>' +
                                    '<td><select class="actions" data-id="'+ element.id +'"> ' +
                                        '<option value="complete" class="complete" '+ (element.completed ? 'selected' : '') +'>Completed</option>' +
                                        '<option value="uncomplete" class="uncomplete" '+ (!element.completed ? 'selected' : '') +'>Uncompleted</option>' +
                                        '<option value="delete" class="delete" >Delete</option>' +
                                    '</select></td>'+
                                    '</tr>'
        })
            let elements2 = document.getElementsByClassName("actions")
    for (var i = 0; i < elements2.length; i++) {
            elements2[i].addEventListener('change', (e) => {
                console.log('click2')
                console.log('click21',e)
                if (e.target.value != 'delete'){
                    fetch('/graphql', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json',
                        },
                        body: JSON.stringify({
                            query: " mutation updateTodo {" +
                                'updateTodo(todo: {id:"'+ e.target.getAttribute("data-id") +'"' +
                                'completed:"'+e.target.value+'"}) {title}}',
                        })
                    })
                    .then(r => r.json())
                    .then(data => console.log('data returned:', data));
                }else{
                    fetch('/graphql', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json',
                        },
                        body: JSON.stringify({
                            query: ' mutation deleteTodo {deleteTodo(id: "'+ e.target.getAttribute("data-id") +'") {success}}',
                        })
                    })
                    .then(r => r.json())
                    .then(data => console.log('data deleted:', data));
                }

            })
    }
    }
    console.log(data)
    let elements = document.getElementsByClassName("info")
    for (var i = 0; i < elements.length; i++) {

        elements[i].addEventListener('click', (element) => {
        console.log(element.target.parentElement.dataset.id)
        fetch('/graphql', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
            },
            body: JSON.stringify({query: '{ getTodo (id: "'+ element.target.parentElement.dataset.id +'")' +
                    ' { post { id title desc } success errors } }',

            })
            })
            .then(r => r.json())
            // .then(data => f(data))
        })
    }
}
let el = document.getElementById("add_todo")
// el.addEventListener('click', (element) => {
//         console.log('click')
//         fetch('/graphql', {
//             method: 'POST',
//             headers: {
//                 'Content-Type': 'application/json',
//                 'Accept': 'application/json',
//             },
//             // body: JSON.stringify({query: " mutation changeTodo {" +
//             //   'updateTodo(todo: {id:"611a88fe1ec27417c88b0553", title:"Go to the dentist", desc:"24-10-2020"}) {title}}'
//             // })
//             body: JSON.stringify({query: " mutation newTodo {" +
//               'createTodo(todo: {title:"Go to the dentist", desc:"24-10-2020"}) {title}}'
//             })
//                     })
//             .then(r => r.json())
//             .then(data => console.log('data returned:', data));
//         })
el.addEventListener('click', (element) => {
        console.log('click')
        fetch('/graphql', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
            },
            body: JSON.stringify({query: " mutation updateTodo {" +
              'updateTodo(todo: {id:"611a88fe1ec27417c88b0553", title:"66666", desc:"24-10-2020"}) {title}}'
                })
            })
            .then(r => r.json())
            .then(data => console.log('data returned:', data));
        })

</script>
</html>
